@page "/"

@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<MudStack class="height-screen" StretchItems="StretchItems.Middle">
    <div class="full-size circle circle-bottom"></div>
    <div class="full-size circle circle-top"></div>
    <AuthorizeView>
        <Authorized>
            <MudText Typo="Typo.h3">Welcome, @context.User.Identity.Name</MudText>
            <MudText>Use sidebar to navigate around.</MudText>
        </Authorized>
        <NotAuthorized>
            <div class="full-size responsive-row">
                <div>
                    <MudText Typo="Typo.h3">Make your study <span class="underline">easier</span></MudText>
                    <MudText Typo="Typo.h4">Join now and see the difference!</MudText>
                    <MudButton Class="mr-2" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => NavigationManager.NavigateTo("Account/Login"))">Log In</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="@(() => NavigationManager.NavigateTo("theses"))">Search Theses</MudButton>
                </div>
                <div class="container-image landing-basis">
                    <div class="circle-image"></div>
                    <MudImage Class="full-size" Src="digital-nomad.svg" />
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</MudStack>