@page "/individual-plan"

@using Microsoft.AspNetCore.Authorization
@using PhDManager.Data
@using PhDManager.Models
@using PhDManager.Services
@using PhDManager.Services.IRepositories

@inject IUnitOfWork UnitOfWork
@inject UsersService UsersService

@attribute [Authorize(Roles = "User")]

<PageTitle>Individuálny plán</PageTitle>

@if (_individualPlan is not null)
{
    <MudText Align="Align.Center" Typo="Typo.h4">Individuálny plán</MudText>
    <MudPaper Class="pa-2">
        <MudStack Spacing="5">
            <div>
                <MudText Typo="Typo.h6">Dizertačná práca</MudText>
                <MudLink Typo="Typo.body1" Href="@($"/theses/{_individualPlan.Thesis.Guid}")">@_individualPlan.Thesis.Title</MudLink>
            </div>
            <div>
                <MudText Typo="Typo.h6">Predmety</MudText>
                @foreach (var subject in _individualPlan.Subjects)
                {
                    <MudText>@subject.Name</MudText>
                }
            </div>
        </MudStack>
    </MudPaper>
}
else
{
    <MudText>Zatiaľ Vám nebol priradený individuálny plán.</MudText>
}

@code {
    private IndividualPlan? _individualPlan;

    protected override async Task OnInitializedAsync()
    {
        var currentUserId = await UsersService.GetCurrentUserIdAsync();
        if (currentUserId is not null)
        {
            _individualPlan = await UnitOfWork.IndividualPlans.GetByUserIdAsync(currentUserId);
        }
    }
}
