.underline {
    text-decoration: underline var(--mud-palette-primary) 0.5rem;
}

.text-center {
    text-align: center;
}

.circle-image {
    background-color: var(--mud-palette-primary);
    filter: contrast(75%);
    border-radius: 50%;
    width: 90%;
    height: 60%;
    display: inline-block;
    position: absolute;
    left: 56%;
    bottom: 0;
    transform: translate(-50%, 0);
    z-index: -1;
}

.text-opacity:hover {
    opacity: 0.8;
}

.container-image {
    position: relative;
}

.landing-image {
    transition: transform 0.5s ease, filter 0.5s ease;
}

.landing-image:hover {
    transform: scale(1.1);
    filter: brightness(1.05);
}

.landing-basis {
    flex-basis: 40%;
}

.button-shake:hover {
    animation: shake 0.5s ease-in-out;
}

.text-rotate {
    animation: rotate 0.5s ease;
}

.logo:hover {
    animation: scale 0.5s ease-in-out;
}

.full-size {
    width: 100%;
    height: 100%;
}

.width-full {
    width: 100%;
}

.width-fit {
    width: fit-content;
}

.width-half {
    width: 50vw;
}

.width-three-quarters {
    width: 75vw;
}

.height-half {
    height: 50vh;
}

.height-full {
    height: 100%;
}

.height-screen {
    height: 90vh;
}

.responsive-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    gap: 1rem;
}

.responsive-row-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

.break-lines {
    white-space: pre-wrap;
}

.provider-icon {
    width: 2rem;
    height: 2rem;
}

@media (max-width: 1024px) {
    .responsive-row {
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 2rem;
    }
}

@keyframes shake {
    0% { 
        transform: translateX(0);
    }
    25% {
        transform: translateX(-0.1rem);
    }
    50% {
        transform: translateX(0.1rem);
    }
    75% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes rotate {
    0% { 
        transform: rotateZ(0deg);
    }
    33% { 
        transform: rotateZ(-2deg);
    }
    66% {
        transform: rotateZ(2deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes reveal {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}